.u-section-1 {background-image: url("images/greenbg.png")}
.u-section-1 .u-sheet-1 {min-height: 716px}
.u-section-1 .u-group-1 {width: 725px; min-height: 641px; margin: 75px auto 0 0}
.u-section-1 .u-container-layout-1 {padding-left: 0; padding-right: 0; padding-bottom: 0}
.u-section-1 .u-text-1 {font-size: 1.5rem; margin: 81px -14px 0 14px}
.u-section-1 .u-text-2 {font-weight: 400; font-size: 6rem; margin: -177px 0 0 7px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 590px}
.u-section-1 .u-group-1 {width: 598px; margin-top: 58px}
.u-section-1 .u-text-1 {position: relative; margin-top: 20px; margin-left: 0; margin-right: 0}
.u-section-1 .u-text-2 {position: relative; font-size: 4.5rem; margin-top: 55px; margin-left: 0} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 452px}
.u-section-1 .u-group-1 {width: 555px; min-height: 368px; margin-top: 36px}
.u-section-1 .u-text-1 {font-size: 1.25rem; width: auto; margin-top: 102px; margin-right: 69px; margin-left: 9px}
.u-section-1 .u-text-2 {width: auto; margin-top: -166px; margin-right: -9px; margin-left: 9px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 339px}
.u-section-1 .u-group-1 {width: 429px}
.u-section-1 .u-text-1 {position: relative; margin-right: 37px; margin-left: 2px}
.u-section-1 .u-text-2 {position: relative; margin-left: 0; margin-right: 0} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 213px}
.u-section-1 .u-group-1 {width: 340px; min-height: 641px; margin-top: 58px}
.u-section-1 .u-text-1 {font-size: 1.5rem; width: 340px; margin-top: 320px; margin-left: 0; margin-right: 0}
.u-section-1 .u-text-2 {font-size: 3rem; margin-top: 20px; margin-left: 7px} }.u-section-2 {background-image: none}
.u-section-2 .u-sheet-1 {min-height: 335px}
.u-section-2 .u-layout-wrap-1 {margin: -72px auto 81px 0}
.u-section-2 .u-layout-cell-1 {min-height: 356px; background-image: none}
.u-section-2 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-2 .u-icon-1 {height: 77px; width: 77px; background-image: none; margin: 43px auto 0}
.u-section-2 .u-text-1 {margin: 30px 0 0}
.u-section-2 .u-text-2 {font-style: italic; margin: 20px 0 30px}
.u-section-2 .u-layout-cell-2 {min-height: 356px; background-image: none}
.u-section-2 .u-container-layout-2 {padding-left: 30px; padding-right: 30px}
.u-section-2 .u-icon-2 {height: 77px; width: 77px; background-image: none; margin: 41px auto 0}
.u-section-2 .u-text-3 {margin: 30px 0 0}
.u-section-2 .u-text-4 {font-style: italic; margin: 23px 0 0}
.u-section-2 .u-layout-cell-3 {min-height: 356px; background-image: none}
.u-section-2 .u-container-layout-3 {padding-left: 30px; padding-right: 30px}
.u-section-2 .u-icon-3 {height: 77px; width: 77px; background-image: none; margin: 36px 103px 0 auto}
.u-section-2 .u-text-5 {margin: 43px 0 0}
.u-section-2 .u-text-6 {font-style: italic; margin: 50px 0 0} 

@media (max-width: 1199px){ .u-section-2 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-2 .u-container-layout-1 {padding-left: 25px; padding-right: 25px}
.u-section-2 .u-icon-1 {display: block}
.u-section-2 .u-container-layout-2 {padding-left: 25px; padding-right: 25px}
.u-section-2 .u-container-layout-3 {padding-left: 25px; padding-right: 25px} }

@media (max-width: 991px){ .u-section-2 .u-container-layout-1 {padding-left: 19px; padding-right: 19px}
.u-section-2 .u-container-layout-2 {padding-left: 19px; padding-right: 19px}
.u-section-2 .u-container-layout-3 {padding-left: 19px; padding-right: 19px}
.u-section-2 .u-icon-3 {margin-right: 83px} }

@media (max-width: 767px){ .u-section-2 .u-container-layout-1 {padding-left: 50px; padding-right: 50px}
.u-section-2 .u-icon-1 {margin-top: 35px}
.u-section-2 .u-text-2 {margin-bottom: 35px}
.u-section-2 .u-container-layout-2 {padding-left: 50px; padding-right: 50px}
.u-section-2 .u-icon-2 {margin-top: 35px}
.u-section-2 .u-text-4 {margin-bottom: 35px}
.u-section-2 .u-container-layout-3 {padding-left: 50px; padding-right: 50px}
.u-section-2 .u-icon-3 {margin-top: 35px}
.u-section-2 .u-text-6 {margin-bottom: 35px} }

@media (max-width: 575px){ .u-section-2 .u-container-layout-1 {padding-left: 9px; padding-right: 9px}
.u-section-2 .u-icon-1 {margin-top: 43px}
.u-section-2 .u-text-2 {margin-bottom: 30px}
.u-section-2 .u-container-layout-2 {padding-left: 9px; padding-right: 9px}
.u-section-2 .u-icon-2 {margin-top: 41px}
.u-section-2 .u-text-4 {margin-bottom: 0}
.u-section-2 .u-container-layout-3 {padding-left: 9px; padding-right: 9px}
.u-section-2 .u-icon-3 {margin-top: 36px}
.u-section-2 .u-text-6 {margin-bottom: 0} }.u-section-3 {min-height: 634px}
.u-section-3 .u-layout-wrap-1 {min-height: 634px; margin: 0 0 0 auto}
.u-section-3 .u-image-1 {background-image: url("images/CAMION.jpg"); background-position: 50% 50%; min-height: 634px}
.u-section-3 .u-layout-cell-2 {min-height: 634px; background-image: linear-gradient(45deg, #6ac17d, #9bf194)}
.u-section-3 .u-container-layout-2 {padding-left: 81px; padding-right: 81px}
.u-section-3 .u-text-1 {font-size: 3rem; margin: 145px 15px 0}
.u-section-3 .u-text-2 {margin: 44px 0 0}
.u-section-3 .u-btn-1 {background-image: none; margin: 44px 318px 65px 0} 

@media (max-width: 1199px){ .u-section-3 {min-height: 573px}
.u-section-3 .u-layout-wrap-1 {min-height: 412px; margin-right: initial; margin-left: initial}
.u-section-3 .u-image-1 {min-height: 523px}
.u-section-3 .u-layout-cell-2 {min-height: 523px}
.u-section-3 .u-container-layout-2 {padding-left: 67px; padding-right: 67px}
.u-section-3 .u-text-1 {width: 386px; margin-top: 55px; margin-left: 0; margin-right: 0}
.u-section-3 .u-text-2 {position: relative; margin-top: 34px}
.u-section-3 .u-btn-1 {margin-top: 34px; margin-right: auto; margin-bottom: 55px} }

@media (max-width: 991px){ .u-section-3 {min-height: 530px}
.u-section-3 .u-image-1 {min-height: 401px}
.u-section-3 .u-layout-cell-2 {min-height: 100px}
.u-section-3 .u-container-layout-2 {padding-left: 51px; padding-right: 51px}
.u-section-3 .u-text-1 {font-size: 2.25rem; width: 308px} }

@media (max-width: 767px){ .u-section-3 {min-height: 1041px}
.u-section-3 .u-layout-wrap-1 {min-height: 613px; margin-right: initial; margin-left: initial}
.u-section-3 .u-image-1 {min-height: 531px}
.u-section-3 .u-text-1 {font-size: 3rem; margin-top: 27px; width: 538px}
.u-section-3 .u-btn-1 {margin-bottom: 0} }

@media (max-width: 575px){ .u-section-3 {min-height: 900px}
.u-section-3 .u-layout-wrap-1 {min-height: 390px; margin-right: initial; margin-left: initial}
.u-section-3 .u-image-1 {min-height: 379px}
.u-section-3 .u-container-layout-2 {padding-left: 52px; padding-right: 49px}
.u-section-3 .u-text-1 {font-size: 2.25rem; margin-top: 50px; width: 339px}
.u-section-3 .u-text-2 {margin-top: 35px}
.u-section-3 .u-btn-1 {margin-top: 35px; margin-right: 171px; margin-bottom: 50px} }.u-section-4 .u-sheet-1 {min-height: 735px}
.u-section-4 .u-layout-wrap-1 {margin: 65px auto 50px 0}
.u-section-4 .u-layout-cell-1 {min-height: 635px}
.u-section-4 .u-shape-1 {width: 562px; height: 411px; background-image: linear-gradient(#6ac17d, #9bf194); margin: 0 auto 0 0}
.u-section-4 .u-image-1 {width: 555px; height: 494px; margin: -346px 52px 0 auto}
.u-section-4 .u-layout-cell-2 {min-height: 635px}
.u-section-4 .u-container-layout-2 {padding-right: 30px; padding-left: 30px}
.u-section-4 .u-text-1 {margin: 209px 0 0}
.u-section-4 .u-text-2 {margin: 20px 0 0}
.u-section-4 .u-btn-1 {background-image: none; margin: 20px auto 0 0} 

@media (max-width: 1199px){ .u-section-4 .u-sheet-1 {min-height: 679px}
.u-section-4 .u-layout-wrap-1 {margin-top: 60px; margin-bottom: 26px; margin-right: initial; margin-left: initial}
.u-section-4 .u-layout-cell-1 {min-height: 589px}
.u-section-4 .u-shape-1 {width: 463px}
.u-section-4 .u-image-1 {width: 458px; margin-right: 43px}
.u-section-4 .u-layout-cell-2 {min-height: 589px}
.u-section-4 .u-container-layout-2 {padding-left: 25px; padding-right: 0}
.u-section-4 .u-text-1 {margin-top: 51px}
.u-section-4 .u-text-2 {margin-bottom: 6px} }

@media (max-width: 991px){ .u-section-4 .u-sheet-1 {min-height: 627px}
.u-section-4 .u-layout-cell-1 {min-height: 537px}
.u-section-4 .u-shape-1 {width: 355px; height: 368px}
.u-section-4 .u-image-1 {width: 361px; height: 457px; margin-top: -318px; margin-right: 20px}
.u-section-4 .u-layout-cell-2 {min-height: 537px}
.u-section-4 .u-container-layout-2 {padding-left: 19px}
.u-section-4 .u-text-1 {margin-top: 44px}
.u-section-4 .u-text-2 {margin-bottom: 0} }

@media (max-width: 767px){ .u-section-4 .u-sheet-1 {min-height: 820px}
.u-section-4 .u-layout-wrap-1 {margin-bottom: 60px; margin-right: initial; margin-left: initial}
.u-section-4 .u-layout-cell-1 {min-height: 583px}
.u-section-4 .u-shape-1 {width: 333px; height: 411px}
.u-section-4 .u-image-1 {width: 455px; height: 494px; margin-top: -354px; margin-right: 25px}
.u-section-4 .u-layout-cell-2 {min-height: 395px}
.u-section-4 .u-container-layout-2 {padding-right: 19px; padding-left: 56px}
.u-section-4 .u-text-1 {margin-top: 106px}
.u-section-4 .u-text-2 {margin-bottom: 35px} }

@media (max-width: 575px){ .u-section-4 .u-sheet-1 {min-height: 968px}
.u-section-4 .u-layout-wrap-1 {margin-bottom: 5px; margin-right: initial; margin-left: initial}
.u-section-4 .u-layout-cell-1 {min-height: 496px}
.u-section-4 .u-shape-1 {width: 279px}
.u-section-4 .u-image-1 {width: 276px; height: 389px; margin-top: -346px; margin-right: 16px}
.u-section-4 .u-layout-cell-2 {min-height: 382px}
.u-section-4 .u-container-layout-2 {padding-right: 6px; padding-left: 27px}
.u-section-4 .u-text-1 {margin-top: 81px} }.u-section-5 {min-height: 634px}
.u-section-5 .u-layout-wrap-1 {margin: 0 auto 0 0}
.u-section-5 .u-layout-cell-1 {background-image: linear-gradient(45deg, #6ac17d, #9bf194); min-height: 634px}
.u-section-5 .u-container-layout-1 {padding-left: 81px; padding-right: 81px}
.u-section-5 .u-text-1 {font-size: 3rem; margin: 173px 5px 0}
.u-section-5 .u-text-2 {margin: 44px 0 0}
.u-section-5 .u-btn-1 {background-image: none; margin: 44px auto 0 0}
.u-section-5 .u-image-1 {min-height: 634px; background-image: url("images/580280b3-atencion-al-cliente-y-servicio-al-cliente.jpg"); background-position: 50% 50%} 

@media (max-width: 1199px){ .u-section-5 {min-height: 573px}
.u-section-5 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-5 .u-layout-cell-1 {min-height: 573px}
.u-section-5 .u-container-layout-1 {padding-left: 67px; padding-right: 67px}
.u-section-5 .u-text-1 {width: 386px; margin-top: 55px; margin-left: 0; margin-right: 0}
.u-section-5 .u-text-2 {position: relative; margin-top: 34px}
.u-section-5 .u-btn-1 {margin-top: 34px; margin-bottom: 55px}
.u-section-5 .u-image-1 {min-height: 573px} }

@media (max-width: 991px){ .u-section-5 {min-height: 530px}
.u-section-5 .u-layout-cell-1 {min-height: 530px}
.u-section-5 .u-container-layout-1 {padding-left: 51px; padding-right: 51px}
.u-section-5 .u-text-1 {font-size: 2.25rem; width: 308px}
.u-section-5 .u-image-1 {min-height: 530px} }

@media (max-width: 767px){ .u-section-5 {min-height: 1041px}
.u-section-5 .u-layout-cell-1 {min-height: 525px}
.u-section-5 .u-text-1 {font-size: 3rem; margin-top: 27px; width: 538px}
.u-section-5 .u-btn-1 {margin-bottom: 0}
.u-section-5 .u-image-1 {min-height: 516px} }

@media (max-width: 575px){ .u-section-5 {min-height: 900px}
.u-section-5 .u-layout-cell-1 {min-height: 483px}
.u-section-5 .u-container-layout-1 {padding-left: 52px; padding-right: 49px}
.u-section-5 .u-text-1 {font-size: 2.25rem; margin-top: 50px; width: 339px}
.u-section-5 .u-text-2 {margin-top: 35px}
.u-section-5 .u-btn-1 {margin-top: 35px; margin-right: 171px; margin-bottom: 50px}
.u-section-5 .u-image-1 {min-height: 417px} }.u-section-6 .u-sheet-1 {min-height: 657px}
.u-section-6 .u-layout-wrap-1 {margin: 60px 0}
.u-section-6 .u-layout-cell-1 {min-height: 322px}
.u-section-6 .u-shape-1 {height: 256px; background-image: linear-gradient(#9bf194, #6ac17d); margin: 67px 0 0 49px}
.u-section-6 .u-image-1 {width: 308px; height: 263px; margin: -322px 0 59px}
.u-section-6 .u-layout-cell-2 {min-height: 215px}
.u-section-6 .u-container-layout-2 {padding-left: 30px; padding-right: 30px}
.u-section-6 .u-text-1 {margin: 47px 0 0}
.u-section-6 .u-layout-cell-3 {min-height: 215px}
.u-section-6 .u-container-layout-3 {padding-left: 30px; padding-right: 30px}
.u-section-6 .u-text-2 {margin: 51px 0 0}
.u-section-6 .u-layout-cell-4 {min-height: 322px; background-image: none}
.u-section-6 .u-shape-2 {height: 256px; background-image: linear-gradient(#9bf194, #6ac17d); margin: 67px 0 0 49px}
.u-section-6 .u-image-2 {width: 308px; height: 263px; margin: -322px 0 59px}
.u-section-6 .u-layout-cell-5 {min-height: 322px; background-image: none}
.u-section-6 .u-shape-3 {height: 256px; background-image: linear-gradient(#9bf194, #6ac17d); margin: 67px 0 0 49px}
.u-section-6 .u-image-3 {width: 308px; height: 263px; margin: -322px 0 59px}
.u-section-6 .u-layout-cell-6 {min-height: 215px}
.u-section-6 .u-container-layout-6 {padding-left: 30px; padding-right: 30px}
.u-section-6 .u-text-3 {margin: 51px 0 0} 

@media (max-width: 1199px){ .u-section-6 .u-sheet-1 {min-height: 639px}
.u-section-6 .u-layout-wrap-1 {margin-top: 45px; margin-bottom: 45px; margin-right: initial; margin-left: initial}
.u-section-6 .u-layout-cell-1 {min-height: 334px}
.u-section-6 .u-shape-1 {height: 236px; width: 255px; margin-right: auto; margin-left: 40px}
.u-section-6 .u-image-1 {width: 243px; position: relative; margin-top: -304px; margin-right: auto; margin-bottom: 42px}
.u-section-6 .u-layout-cell-2 {min-height: 245px}
.u-section-6 .u-container-layout-2 {padding-left: 25px; padding-right: 25px}
.u-section-6 .u-layout-cell-3 {min-height: 226px}
.u-section-6 .u-container-layout-3 {padding-left: 25px; padding-right: 25px}
.u-section-6 .u-layout-cell-4 {min-height: 353px}
.u-section-6 .u-shape-2 {margin-left: 40px}
.u-section-6 .u-image-2 {width: 254px}
.u-section-6 .u-layout-cell-5 {min-height: 353px}
.u-section-6 .u-shape-3 {margin-left: 40px}
.u-section-6 .u-image-3 {width: 254px; height: 282px; margin-right: auto; margin-bottom: 40px}
.u-section-6 .u-layout-cell-6 {min-height: 226px}
.u-section-6 .u-container-layout-6 {padding-left: 25px; padding-right: 25px} }

@media (max-width: 991px){ .u-section-6 .u-sheet-1 {min-height: 651px}
.u-section-6 .u-layout-wrap-1 {margin-top: 60px; margin-bottom: 54px; margin-right: initial; margin-left: initial}
.u-section-6 .u-layout-cell-1 {min-height: 351px}
.u-section-6 .u-shape-1 {height: 254px; width: 314px; margin-right: 0; margin-left: auto}
.u-section-6 .u-image-1 {width: 306px; height: 282px; margin-top: -321px; margin-bottom: 39px}
.u-section-6 .u-layout-cell-2 {min-height: 217px}
.u-section-6 .u-container-layout-2 {padding-left: 19px; padding-right: 19px}
.u-section-6 .u-layout-cell-3 {min-height: 215px}
.u-section-6 .u-container-layout-3 {padding-left: 19px; padding-right: 19px}
.u-section-6 .u-shape-2 {margin-left: 31px}
.u-section-6 .u-image-2 {width: 305px; height: 275px; margin-right: auto; margin-bottom: 47px}
.u-section-6 .u-shape-3 {height: 239px; width: 345px; margin-top: 84px; margin-right: auto; margin-left: 0}
.u-section-6 .u-image-3 {width: 306px; height: 263px; margin-top: -323px; margin-bottom: 60px}
.u-section-6 .u-layout-cell-6 {min-height: 215px}
.u-section-6 .u-container-layout-6 {padding-left: 19px; padding-right: 19px} }

@media (max-width: 767px){ .u-section-6 .u-sheet-1 {min-height: 1389px}
.u-section-6 .u-layout-wrap-1 {margin-bottom: 60px; margin-right: initial; margin-left: initial}
.u-section-6 .u-layout-cell-1 {min-height: 353px}
.u-section-6 .u-shape-1 {height: 256px; width: 384px; margin-top: 66px; margin-right: 60px}
.u-section-6 .u-image-1 {width: 410px; height: 275px; margin-top: -322px; margin-bottom: 48px; margin-left: 14px}
.u-section-6 .u-layout-cell-2 {min-height: 194px}
.u-section-6 .u-container-layout-2 {padding-left: 14px; padding-right: 14px}
.u-section-6 .u-layout-cell-3 {min-height: 194px}
.u-section-6 .u-container-layout-3 {padding-left: 14px; padding-right: 14px}
.u-section-6 .u-shape-2 {width: 384px; margin-right: 60px; margin-left: auto}
.u-section-6 .u-image-2 {width: 410px; height: 263px; margin-top: -323px; margin-bottom: 60px; margin-left: 14px}
.u-section-6 .u-shape-3 {height: 256px; width: 384px; margin-top: 67px; margin-right: 60px; margin-left: auto}
.u-section-6 .u-image-3 {width: 410px; margin-left: 14px}
.u-section-6 .u-layout-cell-6 {min-height: 194px}
.u-section-6 .u-container-layout-6 {padding-left: 14px; padding-right: 14px} }

@media (max-width: 575px){ .u-section-6 .u-sheet-1 {min-height: 657px}
.u-section-6 .u-layout-cell-1 {min-height: 322px}
.u-section-6 .u-shape-1 {height: 226px; margin-top: 67px; margin-right: 0; margin-left: 49px; width: 291px; position: relative}
.u-section-6 .u-image-1 {width: 308px; height: 263px; margin: -294px 0 30px}
.u-section-6 .u-layout-cell-2 {min-height: 215px}
.u-section-6 .u-container-layout-2 {padding-left: 9px; padding-right: 9px}
.u-section-6 .u-layout-cell-3 {min-height: 215px}
.u-section-6 .u-container-layout-3 {padding-left: 9px; padding-right: 9px}
.u-section-6 .u-shape-2 {margin-right: 0; margin-left: 15px; width: 325px}
.u-section-6 .u-image-2 {width: 308px; margin-top: -322px; margin-bottom: 59px; margin-left: 0}
.u-section-6 .u-shape-3 {margin-right: 0; margin-left: 15px; width: 325px}
.u-section-6 .u-image-3 {width: 308px; margin-top: -322px; margin-bottom: 59px; margin-left: 0}
.u-section-6 .u-layout-cell-6 {min-height: 215px}
.u-section-6 .u-container-layout-6 {padding-left: 9px; padding-right: 9px} }.u-section-7 {min-height: 634px}
.u-section-7 .u-layout-wrap-1 {margin: 0 auto 0 0}
.u-section-7 .u-image-1 {background-image: url("images/cd.jpg"); min-height: 634px; background-position: 50% 50%}
.u-section-7 .u-layout-cell-2 {min-height: 634px; background-image: linear-gradient(45deg, #6ac17d, #9bf194)}
.u-section-7 .u-container-layout-2 {padding-left: 81px; padding-right: 81px}
.u-section-7 .u-text-1 {width: 488px; font-size: 3rem; margin: 65px auto 0}
.u-section-7 .u-text-2 {line-height: 1.8; margin: 44px 0 0}
.u-section-7 .u-btn-1 {background-image: none; margin: 44px 318px 65px 0} 

@media (max-width: 1199px){ .u-section-7 {min-height: 573px}
.u-section-7 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-7 .u-image-1 {min-height: 573px}
.u-section-7 .u-layout-cell-2 {min-height: 573px}
.u-section-7 .u-container-layout-2 {padding-left: 67px; padding-right: 67px}
.u-section-7 .u-text-1 {width: 386px; margin-top: 55px; margin-left: 0; margin-right: 0}
.u-section-7 .u-text-2 {position: relative; margin-top: 34px; line-height: 26px}
.u-section-7 .u-btn-1 {margin-top: 34px; margin-right: auto; margin-bottom: 55px} }

@media (max-width: 991px){ .u-section-7 {min-height: 530px}
.u-section-7 .u-image-1 {min-height: 530px}
.u-section-7 .u-layout-cell-2 {min-height: 530px}
.u-section-7 .u-container-layout-2 {padding-left: 51px; padding-right: 51px}
.u-section-7 .u-text-1 {font-size: 2.25rem; width: 308px} }

@media (max-width: 767px){ .u-section-7 {min-height: 1041px}
.u-section-7 .u-image-1 {min-height: 516px}
.u-section-7 .u-layout-cell-2 {min-height: 525px}
.u-section-7 .u-text-1 {font-size: 3rem; margin-top: 27px; width: 538px}
.u-section-7 .u-btn-1 {margin-bottom: 0} }

@media (max-width: 575px){ .u-section-7 {min-height: 900px}
.u-section-7 .u-image-1 {min-height: 417px}
.u-section-7 .u-layout-cell-2 {min-height: 483px}
.u-section-7 .u-container-layout-2 {padding-left: 52px; padding-right: 49px}
.u-section-7 .u-text-1 {font-size: 2.25rem; margin-top: 50px; width: 339px}
.u-section-7 .u-text-2 {margin-top: 35px}
.u-section-7 .u-btn-1 {margin-top: 35px; margin-right: 171px; margin-bottom: 50px} }.u-section-8 .u-sheet-1 {min-height: 1100px}
.u-section-8 .u-group-1 {min-height: 191px; width: 872px; margin: 60px auto 0}
.u-section-8 .u-container-layout-1 {padding-left: 60px; padding-right: 60px}
.u-section-8 .u-text-1 {margin: 15px 0 0}
.u-section-8 .u-image-1 {width: 161px; height: 12px; margin: 18px auto 0}
.u-section-8 .u-text-2 {margin: 25px 0 15px}
.u-section-8 .u-layout-wrap-1 {margin: 48px auto 60px 0}
.u-section-8 .u-image-2 {min-height: 363px; background-image: url("images/hardpaperhouseonwoodwithgreenbackgroundasymbolforconstruction_4269177.png"); background-position: 50% 50%}
.u-section-8 .u-image-3 {min-height: 363px; background-image: url("images/solarpanelonblueskybackgroundalternativeenergyconceptcleanenergy_293324351.jpg"); background-position: 50% 50%}
.u-section-8 .u-image-4 {min-height: 363px; background-image: url("images/41598613_681791082199832_7285287015405322240_n.png"); background-position: 50% 50%}
.u-section-8 .u-image-5 {min-height: 363px; background-image: url("images/handthrowingplasticbottleinbin_2321478263182.jpg"); background-position: 50% 50%}
.u-section-8 .u-image-6 {min-height: 363px; background-image: url("images/greenleafsoftfocuswithcloseupinnatureviewonblurredgreenerybackground_4199739.png"); background-position: 50% 50%}
.u-section-8 .u-image-7 {min-height: 363px; background-image: url("images/cd11.jpg"); background-position: 50% 50%} 

@media (max-width: 1199px){ .u-section-8 .u-sheet-1 {min-height: 1143px}
.u-section-8 .u-group-1 {width: 719px}
.u-section-8 .u-container-layout-1 {padding-left: 49px; padding-right: 49px}
.u-section-8 .u-image-1 {width: 133px}
.u-section-8 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-8 .u-image-2 {min-height: 336px}
.u-section-8 .u-image-3 {min-height: 336px}
.u-section-8 .u-image-4 {min-height: 336px}
.u-section-8 .u-image-5 {min-height: 336px}
.u-section-8 .u-image-6 {min-height: 336px}
.u-section-8 .u-image-7 {min-height: 336px} }

@media (max-width: 991px){ .u-section-8 .u-sheet-1 {min-height: 933px}
.u-section-8 .u-group-1 {min-height: 217px; margin-right: initial; margin-left: initial; width: auto}
.u-section-8 .u-container-layout-1 {padding-left: 38px; padding-right: 38px}
.u-section-8 .u-text-1 {margin-top: 20px}
.u-section-8 .u-image-1 {width: 102px}
.u-section-8 .u-text-2 {margin-bottom: 20px}
.u-section-8 .u-image-2 {min-height: 224px}
.u-section-8 .u-image-3 {min-height: 224px}
.u-section-8 .u-image-4 {min-height: 224px}
.u-section-8 .u-image-5 {min-height: 224px}
.u-section-8 .u-image-6 {min-height: 224px}
.u-section-8 .u-image-7 {min-height: 224px} }

@media (max-width: 767px){ .u-section-8 .u-sheet-1 {min-height: 1253px}
.u-section-8 .u-group-1 {min-height: 191px; width: auto; margin-right: initial; margin-left: initial}
.u-section-8 .u-container-layout-1 {padding-left: 28px; padding-right: 28px}
.u-section-8 .u-text-1 {margin-top: 15px}
.u-section-8 .u-image-1 {width: 95px}
.u-section-8 .u-text-2 {margin-bottom: 15px}
.u-section-8 .u-image-2 {min-height: 363px}
.u-section-8 .u-image-3 {min-height: 363px}
.u-section-8 .u-image-4 {min-height: 363px}
.u-section-8 .u-image-5 {min-height: 363px}
.u-section-8 .u-image-6 {min-height: 363px}
.u-section-8 .u-image-7 {min-height: 363px} }

@media (max-width: 575px){ .u-section-8 .u-sheet-1 {min-height: 1248px}
.u-section-8 .u-container-layout-1 {padding-left: 18px; padding-right: 18px}
.u-section-8 .u-image-1 {width: 80px} }.u-section-9 {background-image: none}
.u-section-9 .u-sheet-1 {min-height: 374px}
.u-section-9 .u-text-1 {width: 800px; margin: 60px auto 0}
.u-section-9 .u-text-2 {width: 800px; margin: 30px auto 0}
.u-section-9 .u-btn-1 {background-image: none; text-transform: uppercase; font-size: 1.125rem; letter-spacing: 2px; margin: 30px auto 60px; padding: 6px 24px 7px 23px} 

@media (max-width: 991px){ .u-section-9 .u-text-1 {width: 720px}
.u-section-9 .u-text-2 {width: 720px} }

@media (max-width: 767px){ .u-section-9 .u-text-1 {width: 540px}
.u-section-9 .u-text-2 {width: 540px} }

@media (max-width: 575px){ .u-section-9 .u-text-1 {width: 340px}
.u-section-9 .u-text-2 {width: 340px} }